@import '../main.scss';
.arena {
  padding-top: 30px;
  width: 93.5%;
  margin: auto;
  background-color: #fafafa;
  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
  @include respond(tab-port) {
    height: 80em;
  }
  @include respond(phone) {
    height: 47.6em;
    padding-top: 1em;
  }

  &-logo {
    position: relative;

    text-align: center;
    height: 12.8em;
    width: 100%;
    img {
      position: absolute;
      width: 92%;
      top: 28%;
      left: 50%;
      transform: translate(-51%, -50%);
      z-index: 1;
      @include respond(phone) {
        top: 50%;
        left: 50%;
      }
    }
    @include respond(phone) {
      height: 4em;
    }
  }
  &-img {
    position: relative;
    // height: 400px;
    height: 25em;
    width: 100%;
    @include respond(phone) {
      height: 11.5em;
    }
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &-map {
    // height: 241px;
    height: 15em;
    width: 100%;
    @include respond(phone) {
      height: 11.5em;
    }
    &-iframe {
      width: 100%;
      height: 100%;
    }
  }
  &-blurb {
    position: relative;
    margin: auto;
    padding: 21px;
    height: 14em;
    width: 100%;
    @include respond(phone) {
      padding: 0;
    }
    &-headline {
      width: 50%;
      font-family: $headlines;
      line-height: 33px;
      color: $blazers-red;
      font-size: 1.8em;
      @include respond(phone) {
        width: 100%;
        padding: 1rem 0;
      }
    }
    &-content {
      width: 50%;
      margin-top: 1.1em;
      font-size: 0.85em;
      line-height: 15px;
      @include respond(phone) {
        width: 100%;
        margin-top: 0;
      }
    }
    &-button {
      margin: 15px 0;
      background: #847550;

      font-family: $content;
      font-size: 0.8em;
      font-weight: 800;
      text-transform: uppercase;
      color: $white;
      padding: 5px 20px;
      border: 0;
      border-radius: 2px;
      cursor: pointer;
      @include respond(phone) {
        padding: 8px 20px;
      }
    }
  }
}
