@import '../main.scss';
.header-bar-template {
  position: relative;
  width: 100%;
  @include respond(tab-land) {
    margin: auto;
    width: 95%;
  }

  margin: 1.5em 0;
  &-title {
    margin: 0.5em 4em;
    @include respond(tab-port) {
      margin: 0.5em 0;
    }
    h1 {
      font-size: 1.7em;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      @include respond(tab-port) {
        font-size: 2em;
      }
    }
  }
  &-bar {
    width: 100%;
    margin-bottom: 1.5em;
    @include respond(phone) {
      margin-bottom: 0;
    }
  }
}
