@import '../main.scss';

.flex-container {
  width: 938px;
  height: 440px;
  z-index: 1;
}

.black {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 15%), url("https://www.nba.com/images/cms/2018-01/lillard_drive.jpg?cw=1920&w=1994&x=5&ch=1080&h=1122&y=0");
    background-size: 425px, 850px;
    background-repeat: no-repeat;
    background-color:black;
    width: 581px;
    border:15px solid black;
    padding: 5%;
    z-index: 2;
}

.red {
width: 306px;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%);
color: white;
z-index: 3;
// padding: 35px 0px 50px 50px;
}

.flex-container {
  
  @media (min-width: 56.25em){
    display: flex;  
  }
}


.sidebar {
  flex: 0 0 300px;
}

.teamLogos {
  display: flex;
}

// .responsive {
//   width: 40%;
//   height: auto;
// }

.blazersLogo {
  height: 66px;
  margin-left:70px;
  margin-right:55px;
  margin-top:43px;
  // margin-bottom: 5px;
}

.awayLogo {
    height: 120px;
    margin-left:45px;
    margin-top: 15px;
}

.teamNames {
  display: flex;
  h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 35px;
  width: 249px;
  }

  h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  }
}

.blazersName {
  margin-left: 60px;
  margin-right: 14px;
  margin-bottom: 21px;
}

.vs {
    margin-top: 10px;
}

.awayName {
  margin-left:12px; 
  margin-right:55px;
    margin-bottom: 21px;

  // margin-top: 8px; 
}

button {
  display: block;
  border-radius: 5px;
  margin-left: 60px;
}

.primaryButton {
  background: #e03a3e;
  border: none;
  border-radius: 5px;
  color: white;
  // padding: 15px 32px 15px 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 25px;
  font-weight: bold;
  // margin: 4px 2px;
  cursor: pointer;
  width: 240px;
  height: 37px;
  margin-bottom: 15px;
  margin-top: 24px;
}

.secondaryButton {
  font: $content;
  color:green;
  border: none;
  border-radius: 5px;
  color: black;
  // padding: 15px 32px 15px 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font: $content;
  font-size: 25px;
  font-weight: bold;
  margin-top:18px;
  margin-bottom:53px;
  cursor: pointer;
  width: 240px;
  height: 37px;
  // margin-top: 25px;
}

.gameDescription {
  height: 72px;
  width: 298px;
  margin-left: 60px;
  margin-right: 0px;
  font: $content;
  font-size: 13px;
}

.gameDate {
  font-size: 16px;
  font-weight: bold;
  margin-left: 60px;
  margin-bottom: 20px;
}
