@import '../main.scss';

.flex-container {
  position: relative;
  width: 100%;
  height: 440px;
  z-index: 1;
  @include respond(tab-port) {
    margin-bottom: 60px;
  }
  @include respond(phone) {
    height: 600px;
    margin-bottom: 100px;
  }
}

.black {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 15%
    ),
    url('https://www.nba.com/images/cms/2018-01/lillard_drive.jpg?cw=1920&w=1994&x=5&ch=1080&h=1122&y=0');
  background-size: 425px, 850px;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  border: 15px solid black;
  padding: 13%;
  z-index: 2;
  @include respond(tab-port) {
    height: 100%;
    z-index: 0;
    border: 0;
    // background-attachment: fixed;
    background-size: cover;
    background-position: left;
    @include absCenter;
    // @include absCenter;
  }
}

.red {
  // width: 306px;
  width: 40%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 79%,
    rgba(0, 0, 0, 1) 94%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  z-index: 3;
  @include respond(tab-land) {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  @include respond(tab-port) {
    top: 30px;

    position: absolute;
    background: none;
    width: 100%;
    margin: auto;
  }

  // padding: 35px 0px 50px 50px;
}

.flex-container {
  @media (min-width: 56.25em) {
    display: flex;
  }
}

.sidebar {
  flex: 0 0 300px;
  @include respond(tab-port) {
    // flex: none;
  }
}

.teamLogos {
  display: flex;
}

// .responsive {
//   width: 40%;
//   height: auto;
// }

.blazersLogo {
  height: 66px;
  margin-left: 70px;
  margin-right: 55px;
  margin-top: 43px;
  // margin-bottom: 5px;
  @include respond(tab-land) {
    margin-left: 20%;
  }
  @include respond(tab-port) {
    display: none;
  }
}

.awayLogo {
  height: 120px;
  margin-left: 45px;
  margin-top: 15px;
  @include respond(tab-land) {
    margin-left: 18%;
  }
  @include respond(tab-port) {
    display: none;
  }
}

.teamNames {
  display: flex;
  justify-content: center;
  position: relative;
  h1 {
    text-align: center;
    font-family: $headlines;
    font-weight: bold;
    font-size: 35px;
    width: 249px;
    @include respond(tab-port) {
      // width: 20%;
      font-size: 2em;
    }
  }
}

// .blazersName {
//   margin: 0px 14px 21px 60px;
// }

.vs {
  font-family: $headlines;
  font-size: 18px;
  margin-top: 10px;
  @include respond(tab-port) {
    // padding: 2% 28px;
    font-size: 18px;

    // padding-top: 1em;
    // max-width: 20%;
    // text-align: center;
    // font-size: 0.8em !important;
  }
}

// .awayName {
//   margin: 0px 55px 21px 12px;
// }

button {
  display: block;
  border-radius: 5px;
  margin-left: 60px;
}

.primaryButton {
  background: #e03a3e;
  border: none;
  border-radius: 5px;
  color: white;
  // padding: 15px 32px 15px 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  width: 240px;
  height: 37px;
  // margin-bottom: 15px;
  // margin-top: 24px;
  margin: 20px 0px 15px 60px;
}

.secondaryButton {
  font: $content;
  color: green;
  border: none;
  border-radius: 5px;
  color: black;
  // padding: 15px 32px 15px 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font: $content;
  font-size: 25px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 53px;
  cursor: pointer;
  width: 240px;
  height: 37px;
  // margin-top: 25px;
}

.gameDescription {
  height: 72px;
  width: 298px;
  margin-left: 60px;
  margin-right: 0px;
  font: $content;
  font-size: 13px;
  @include respond(tab-port) {
    display: none;
  }
}

.gameDate {
  font-size: 14px;
  font-weight: 300;
  margin: 15px 0 15px 60px;
  font-weight: 500;
  // margin-left: 60px;
  // margin-bottom: 20px;
  font-family: $content !important;
  @include respond(tab-port) {
    letter-spacing: 1.1px;
    font-weight: 300;
    padding-top: 19px;
    font-size: 15px;
    margin: auto;
    text-align: center;
  }
}
