@import '../main.scss';
.stats {
  margin: 1.6em auto;
  width: 89%;
  &-box-scores {
    &-title {
      font-weight: 200;
      font-family: $headlines;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-left: 18px;
    }
    &-card {
      border: 1px solid $gray;
      border-radius: 5px;
      padding: 10px;
      background: $white;
      &-top-bar {
        display: flex;
        justify-content: space-between;
        color: $gray;
        font-size: 0.8em;
        border-bottom: 1px solid $border;
        padding: 0.2% 0;
      }
      /// Top Bar
      &-title {
        display: inline-block;
        width: 40px;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 500;
        padding: 5px 0;
        text-align: right;
      }

      /// Player stats
      &-stat-item {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border;
      }

      // Spacing
      &-player-readout {
        width: 15%;
        text-align: left;
        font-size: 0.7em;
        vertical-align: middle;
        padding: 0.5%;
        a,
        a:active {
          height: 100%;
          vertical-align: middle;
          text-decoration: none;
          font-weight: 600;
          color: $light-blue;
        }
      }
      &-stats-readout {
      }
    }
  }
  &-team {
    margin-top: 2.8em;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      display: block;
    }

    &-title {
      font-family: $headlines;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 200;
    }
    &-sub-title {
      color: $gray;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.7em;
      margin: 1px 0 15px 0;
    }
    &-statistics {
      width: 31.6%;
      @include respond(tab-port) {
        width: 100%;
      }
      &-box {
        border-radius: 3px;
        border: 1px solid $border;
        background-color: white;
      }
      &-item {
        display: flex;
        justify-content: space-between;
        padding: 6px;
        font-weight: 800;
        font-size: 0.65em;
        &:not(:last-child) {
          border-bottom: 1px solid $border;
        }
        &-left {
          &-title {
          }
          &-number {
            padding: 0 5px;
            color: $blazers-red;
          }
          &-overall {
            font-size: 0.8em;
            color: $gray;
          }
        }
        &-right {
        }
      }
    }
    &-leaders {
      width: 31.6%;
      @include respond(tab-port) {
        width: 100%;
      }
      &-box {
        border: 1px solid $border;
        background-color: white;
      }
      &-list-item {
        font-weight: 800;
        border-bottom: 1px solid $border;
        padding: 17px 0;
        &-left {
          padding-left: 8px;
          &-title {
            font-size: 0.6em;
          }
          &-name {
            font-size: 0.8em;
            color: $blazers-red;
          }
        }
        &-right {
          padding-right: 8px;
          font-size: 1.5em;
        }
        &-row {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &-win-n-lose {
      width: 31.6%;
      @include respond(tab-port) {
        width: 100%;
      }
      &-box {
        // border: 1px solid $border;
        &-top {
          display: flex;
          justify-content: flex-start;
          border-top: 1px solid $border;
          border-bottom: 1px solid $border;
          padding: 5px 0;
          div {
            width: 50%;
            font-family: $headlines;
            text-transform: uppercase;
            font-size: 1.9em;
            padding: 10px;
            &:last-of-type {
              border-left: 1px solid $border;
            }
          }
        }
      }
    }
  }
}
.end-title {
  margin-top: 10px;
  color: $gray;
  font-weight: 500;
  font-size: 0.6em;
}
