@import '../main.scss';
.stats {
  margin: 1.6em auto;
  width: 89%;
  &-box-scores {
    &-title {
      font-weight: 200;
      font-family: $headlines;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-left: 18px;
    }
    &-card {
      border: 1px solid $border;
      border-radius: 5px;
      padding: 10px;
      background: $white;
      height: 100px;
    }
  }
  &-team {
    margin-top: 2.8em;
    display: flex;
    justify-content: space-between;

    &-title {
      font-family: $headlines;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 200;
    }
    &-sub-title {
      color: $gray;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.7em;
      margin: 1px 0 15px 0;
    }
    &-statistics {
      width: 31.6%;
      &-box {
        border: 1px solid $border;
        background-color: white;
        height: 100px;
        padding: 5px;
      }
    }
    &-leaders {
      width: 31.6%;
      &-box {
        border: 1px solid $border;
        background-color: white;
      }
      &-list-item {
        font-weight: 800;
        border-bottom: 1px solid $border;
        padding: 17px 0;
        &-left {
          padding-left: 8px;
          &-title {
            font-size: 0.6em;
          }
          &-name {
            font-size: 0.8em;
            color: $blazers-red;
          }
        }
        &-right {
          padding-right: 8px;
          font-size: 1.5em;
        }
        &-row {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &-win-n-lose {
      width: 31.6%;
      &-box {
        border: 1px solid $border;
        background-color: white;
        height: 100px;
        padding: 5px;
      }
    }
  }
}
.end-title {
  margin-top: 10px;
  color: $gray;
  font-weight: 500;
  font-size: 0.6em;
}
