@import '../main.scss';

// Main component
.news-feed {
  position: relative;
  width: 100%;
  margin-top: $med-pad;
  margin-bottom: 1.2rem;

  @include respond(tab-land) {
    margin: 2.2em 2% 1em 2%;
    width: $phone-width;
  }
}

.news-item {
  position: relative;
  height: 13em;
  width: 100%;

  // overflow: hidden;
  &:not(:first-child) {
    margin-top: $new-spacer;
  }
  // margin: 0 0;
  // border: 1px solid red;
  display: flex;

  @include respond(phone) {
    max-height: 5.5em;
  }
  @include respond(tab-land) {
    height: 10em;
  }

  &-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &-img {
      @include absCenter;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &-right {
    display: inline-block;
    width: 45%;
    height: 100%;
    padding: 10px 0 10px 21px;
    @include respond(tab-land) {
      padding: 2px 10px;
      width: 50%;
    }
    &-title {
      width: 100%;
      text-transform: uppercase;
      font-family: $headlines;
      font-weight: 400;
      font-size: 1.9em;
      line-height: 1.2;
      letter-spacing: 0.5px;
      text-overflow: ellipsis;
      a:hover,
      a:visited,
      a:link,
      a:active {
        color: $blazers-red;
        text-decoration: none;
      }
      @include respond(phone) {
        font-size: 1.05em;
        line-height: 1.2;
      }
    }
    &-teaser {
      font-family: $content;
      font-weight: normal;
      margin-top: 0.5em;
      font-size: 0.8em;
      line-height: 1.2;

      @include respond(tab-land) {
        display: none;
      }
    }
  }
}
