@import '../main.scss';

// Main component
.news-feed {
  position: relative;
  width: 100%;
  @include respond(tab-land) {
    margin: auto;
    width: 95%;
  }

  &-alert-message {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: $blazers-red;
  }
}

.news-item {
  position: relative;
  height: 13em;
  width: 100%;
  margin: 1.5em 0;
  // border: 1px solid red;
  display: flex;

  @include respond(phone) {
    max-height: 5.5em;
  }
  @include respond(tab-land) {
    height: 10em;
  }

  &-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &-img {
      @include absCenter;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &-right {
    display: inline-block;
    width: 45%;
    height: 100%;
    padding: 12px;
    @include respond(tab-land) {
      padding: 2px 10px;
      width: 50%;
    }
    &-title {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.3em;
      line-height: 1.2;
      letter-spacing: -0.5px;
      a:hover,
      a:visited,
      a:link,
      a:active {
        color: $blazers-red;
        text-decoration: none;
      }
      @include respond(phone) {
        font-weight: bolder;
        font-size: 0.9em;
        line-height: 1.2;
      }
    }
    &-teaser {
      font-family: $content;
      font-weight: normal;
      margin-top: 0.5em;
      font-size: 0.9em;
      line-height: 1.2;
      @include respond(tab-land) {
        display: none;
      }
    }
  }
}
