@import '../main.scss';

.pre-game {
  position: relative;
  width: 100%;
  &-container {
    width: 65%;
    margin: auto;
    background: $light-gray;
    @include respond(tab-land) {
      width: 95%;
    }
  }
}
