/* BASE COLORS */
$blazers-red:#CC0000;
$blazers-gold: #84754E;
$black: #000;
$gray: #999;
$light-gray: #eee;

/* GRADIENTS */
$gold-gradient: linear-gradient(to right, #84754E, #bda76f);

/* FONTS */
$headlines: "UnitedSansCdBd", franklin-gothic-urw !important;
$content: "Helvetica Neue",Helvetica,Arial,sans-serif;