/* BASE COLORS */
$blazers-red: #cc0000;
$blazers-gold: #84754e;
$black: #000;
$white: rgb(255, 255, 255);
$gray: #999;
$light-gray: #eee;
$border: #dfdfdf;
$back-ground-gray: #fafafa;

/* GRADIENTS */
$gold-gradient: linear-gradient(to right, #84754e, #bda76f);

/* FONTS */
$headlines: 'UnitedSansCdBd', franklin-gothic-urw !important;
$content: 'Helvetica Neue', Helvetica, Arial, sans-serif;
